/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 /*begin custom CSS*/
 *{box-sizing: border-box}

section{
  min-height: 100vh;
}

nav{
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.nav1{
    background-color: #353919;
}

nav p{
    color: white;
}

.header1{
    width: 100%;
    height: 420px;
    background-image: url('./assets/misty.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 4px solid #353919;
    margin-bottom: 30px;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

h2{
  font-family: sans-serif;
}

.typewriter h1{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(19, end);
}

.header-text-1{
  width: 50%;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 100px;
}

@keyframes typing{
    0% {width: 0}
    45% {width: 100%}
    55% {width: 100%}
    100% {width: 0}
  }

.rain-animation{
    position: absolute;
    bottom: -30px;
    left: -20px;
    height: 456px;
    width: 225px;
    background-image: url('./assets/plant-sprite.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 3900%;
    animation: rain 3.5s steps(38) 1;
    z-index: 10;
}


@keyframes rain{
    from{background-position: left;}
    to {background-position: right;}
}

/*section2 */

.nav2{
  background-color: #330000;
}

.header2{
  background-image: url('./assets/paper.png');
  height: 500px;
  display: flex;
  align-items: center;
}

.hide{
  display: none;
}

.header2-image{
  width: 50%;
  height: 100%;
}

.header2-text{
  width: 50%;
  padding-bottom: 100px;
}

.typewriter{
  margin-top: 12px;
  display: flex;
}

.typewriter p{
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  letter-spacing: .12em;
}

.type-static{
  margin-right: 1em;
}

.type{
  width: 0;
  overflow: hidden;
  animation: typing 2s steps(11) 1;
}

@media only screen and (min-width: 600px){
  .rain-animation{
    left: 80px;
  }

  h1{
    font-size: 40px;
  }
}

@media only screen and (min-width: 1000px){
  .rain-animation{
    height: 547px;
    width: 270px;
    left: 250px;
  }

  .header1{
    height: 480px;
  }

  h2{
    font-size: 24px;
  }
}

@media only screen and (min-width: 1400px){
  .rain-animation{
    height: 608px;
    width: 300px;
    left: 450px;
  }

  .header1{
    height: 530px;
  }

  h1{
    font-size: 60px;
  }
}